# Deploy
STAGE=local

# App
APP_NAME=price_spotter
APP_HOST=0.0.0.0
PORT=5000

# Database
DATABASE_URL=ecto://postgres:postgres@postgres/price_spotter_local
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=price_spotter_local
DB_HOSTNAME=postgres

# Mongodb
MONGO_URL=mongodb://mongo:27017/price_spotter_local

# Cache service
REDIS_HOST=redis
REDIS_PASS=123456

# Misc
PHX_SERVER=true
SECRET_KEY_BASE="$(mix phx.gen.secret)"
UPLOADS_PATH="priv/static/uploads/"
MIX_ENV=prod
