# App
APP_NAME=price_spotter
export APP_HOST=0.0.0.0
export STAGE=local

# Database
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_DATABASE=price_spotter_dev
export DB_HOSTNAME=localhost

# Mongodb
export MONGODB_URL=mongodb://localhost:27017/price_spotter_dev

# Cache service
export REDIS_HOST=localhost
export REDIS_PASS=123456

# Misc
export UPLOADS_PATH="priv/static/uploads/"
export MIX_ENV=dev
export PHX_SERVER=true
export MIX_TEST_PARTITION=1