<div class="flex min-h-screen">
  <PriceSpotterWeb.SidebarComponent.sidebar
    current_user={assigns[:current_user]}
    current_path={assigns[:current_path]}
  />
  <div class="flex-1 min-w-0 overflow-x-hidden">
    <header class="sticky top-0 header-bg z-50">
      <div>
        <div class="
          flex items-center justify-between
          border-b border-zinc-300 dark:border-zinc-600 border-dotted
          text-xs sm:text-sm
          backdrop-blur-lg
          rounded-b-xl
          pr-2
        ">
          <div
            id="header action"
            phx-update="ignore"
            class="flex flex-row basis-1/2"
          >
            <div :if={assigns[:header_action] != nil}>
              <%= assigns[:header_action] %>
            </div>
            <div class="flex items-center gap-4">
              <a href="#" class="hover:text-zinc-700 hover:dark:text-zinc-300">
                <%= assigns[:section_title] %>
              </a>
            </div>
          </div>
          <div class="flex basis-1/2 justify-end items-center gap-4 font-semibold leading-6 text-zinc-900 dark:text-zinc-100 py-4">
            <.toggle_theme_button theme={assigns[:theme]} />
          </div>
        </div>
      </div>
    </header>
    <main class="min-w-0 px-4 py-2 sm:px-6 lg:px-8">
      <div class="min-w-0 max-w-full">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </main>
  </div>
</div>
