@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.css";

/* This file is for your main application CSS */

nav.pagination {
  @apply flex w-full justify-between my-4 cursor-default;
}

nav.pagination span.pagination-previous, span.pagination-next {
  @apply text-zinc-400;
}

nav.pagination a.pagination-previous, a.pagination-next {
  @apply hover:text-sky-800;
}

nav.pagination .pagination-previous {
  @apply order-1;
}

nav.pagination .pagination-next {
  @apply order-3;
}

nav.pagination .pagination-list {
  @apply order-2;
}

.pagination-list {
  @apply flex flex-row;
}

ul.pagination-list li {
  @apply px-2 font-semibold;
}

ul.pagination-list li a.pagination-link {
  @apply px-2 font-normal;
}

ul.pagination-list li a.pagination-link.is-current {
  @apply px-2 font-semibold;
}

div.table-container {
  @apply border-1 border-zinc-400 rounded-sm;
}

table.table {
  @apply w-full;
}

table.table thead {
  @apply border-b-1 border-zinc-400 text-base h-14 bg-zinc-100 text-zinc-500;
}

table.table tbody tr {
  @apply h-16 cursor-pointer;
}

table.table tbody tr:nth-child(odd) {
  @apply bg-zinc-100 px-2 transition duration-200 hover:bg-zinc-300;
}

table.table tbody tr:nth-child(even) {
  @apply bg-zinc-200 px-2 duration-200 hover:bg-zinc-300;
}

table.table tbody tr td {
  @apply p-1 text-zinc-700;
}

table.table tfoot {
  @apply border-t-1 border-t-zinc-400;
}

table.table tfoot tr td {
  @apply px-1 text-zinc-500 font-semibold;
}

select {
  @apply mt-0 !important;
}

input {
  @apply mt-0 !important;
}

input, select {
  @apply focus:ring-2 focus:ring-sky-500 bg-zinc-50 shadow-inner-lg h-10 !important;
}

.shadow-inner-lg {
  --tw-shadow: inset 4px -6px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.checkbox {
  @apply block w-6 h-6 ring-2 ring-gray-300 ring-offset-gray-300 focus:ring-1 focus:ring-gray-300 focus:ring-offset-gray-300 cursor-pointer focus:outline focus:outline-4 !important;
}

label + .checkbox {
  @apply cursor-pointer;
}

input[type=checkbox]:checked.checkbox.warn {
  @apply bg-rose-500;
}

input[type=checkbox] {
  @apply bg-zinc-50 border-none rounded-lg text-sky-500 transition transform duration-200;
}

input[type=checkbox]:hover {
  @apply transition transform scale-105;
}

input[type=checkbox]:focus {
  @apply bg-zinc-50 border-none rounded-lg;
}

input[type=checkbox]:checked {
  @apply bg-sky-500 text-sky-500 rounded-lg !important;
}

span.order-direction {
  @apply text-xl;
}
