<.header>
  <%= gettext("Listing Users suppliers") %>
  <:actions>
    <.link patch={~p"/admin/marketplaces/users_suppliers/new"}>
      <.button><%= gettext("New User supplier") %></.button>
    </.link>
  </:actions>
</.header>

<div class="my-4">
  <.filter_form
    id="users_suppliers-filter-form"
    meta={@meta}
    fields={@filter_fields}
  />
</div>

<%= if @users_suppliers && @meta do %>
  <.list_header meta={@meta} path={~p"/admin/marketplaces/users_suppliers"}>
    <:col label={gettext("User")} class="flex-1" />
    <:col field={:role} label={gettext("Role")} />
  </.list_header>

  <.list_group id="users_suppliers" items={@users_suppliers}>
    <:empty_state>
      <.no_results_found label={gettext("No user suppliers found.")} />
    </:empty_state>
    <:row :let={user_supplier}>
      <.list_row
        id={"users_suppliers-#{user_supplier.id}"}
        click={
          JS.navigate(~p"/admin/marketplaces/users_suppliers/#{user_supplier}")
        }
      >
        <:leading>
          <.entity_avatar label={user_supplier.user.email} />
        </:leading>
        <:title><%= user_supplier.user.email %></:title>
        <:subtitle><%= user_supplier.supplier.name %></:subtitle>
        <:meta>
          <.pill text={role_label(user_supplier.role)} variant={:neutral} />
        </:meta>
        <:actions>
          <.link
            navigate={~p"/admin/marketplaces/users_suppliers/#{user_supplier}"}
            class="sr-only"
          >
            <%= gettext("Show") %>
          </.link>
          <.link
            id={"users_suppliers-edit-#{user_supplier.id}"}
            patch={
              ~p"/admin/marketplaces/users_suppliers/#{user_supplier}/edit"
            }
            class="hover:text-teal-500"
          >
            <.icon
              name="hero-pencil-solid"
              class="h-3 w-3 sm:h-5 sm:w-5 opacity-60"
            />
          </.link>
          <.link
            id={"users_suppliers-delete-#{user_supplier.id}"}
            phx-click={
              JS.push("delete", value: %{id: user_supplier.id})
              |> hide("#users_suppliers-#{user_supplier.id}")
            }
            data-confirm={
              gettext(
                "Delete \"%{email}\" access to \"%{supplier}\" registries?",
                email: user_supplier.user.email,
                supplier: user_supplier.supplier.name
              )
            }
            class="hover:text-rose-500"
          >
            <.icon
              name="hero-trash-solid"
              class="h-3 w-3 sm:h-5 sm:w-5 opacity-60"
            />
          </.link>
        </:actions>
      </.list_row>
    </:row>
  </.list_group>

  <div class="my-4 flex w-full justify-center">
    <Flop.Phoenix.cursor_pagination
      meta={@meta}
      path={~p"/admin/marketplaces/users_suppliers"}
    />
  </div>
<% end %>

<.modal
  :if={@live_action in [:new, :edit]}
  id="user_supplier-modal"
  show
  on_cancel={JS.patch(~p"/admin/marketplaces/users_suppliers")}
>
  <.live_component
    module={PriceSpotterWeb.Admin.Marketplaces.UserSupplierLive.FormComponent}
    id={@user_supplier.id || :new}
    title={@page_title}
    action={@live_action}
    user_supplier={@user_supplier}
    patch={~p"/admin/marketplaces/users_suppliers"}
  />
</.modal>
